<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suusoft.elistening">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.suusoft.elistening.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- activity -->

        <activity
            android:name="com.suusoft.elistening.view.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.scytec.datamobile.vd.gui.android.AppPreferenceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.suusoft.elistening.view.activity.SplashLoadActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"  />
        <activity android:name="com.suusoft.elistening.view.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.suusoft.elistening.view.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.scytec.datamobile.vd.gui.android.AppPreferenceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.suusoft.elistening.view.activity.VideoViewActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.suusoft.elistening.view.activity.DetailActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"  />
        <activity android:name=".view.activity.StartScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.QuestionActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.suusoft.elistening.view.activity.QuestionAnswerSuccessActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"  />

        <!--music service-->
        <service
            android:name="com.suusoft.elistening.service.MusicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.suusoft.elistening.service.DownloadService"
            android:enabled="true" />
        <service
            android:name="com.suusoft.elistening.service.SaveLessonInDBService"
            android:exported="true"
            android:enabled="true" />
<!--        <service-->
<!--            android:name="com.suusoft.elistening.service.fcm.MyFireBaseCloudMessage">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->

        <receiver android:name="com.suusoft.elistening.listener.DataBroadcastReceiver">
            <intent-filter>
                <action android:name="com.suusoft.elistening.configs.Constant.ACTION_CANCEL_DOWNLOAD" />
            </intent-filter>
        </receiver>



    </application>

</manifest>